---
layout: default
---

<div class="home-intro">
  {{ content }}
</div>

{% if site.posts.size > 0 %}
<section class="posts-section">
  <h2 class="section-title">Posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li class="post-item">
      <article class="post-preview">
        <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %d, %Y" }}
        </time>
        <h3 class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        {% if post.excerpt %}
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        {% endif %}
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
